
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />
    <title>Zaboravljena lozinka</title>
</head>

<body>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">


            <div class="form-group">

                <a href='@Url.Action("Index","Home")'>
                    <img src="~/assets/img/logo.png" class="center-block" alt="" />
                </a>

                <div class="margina">
                    <form method="post" action="reg.html">
                        <p class="well well-sm" style="background: #0d70b7; color:white; text-align: center; ">Ispunite podatke za registraciju</p>
                        <p><input class="form-control" type="text" name="login" value="" placeholder="Ime"></p>
                        <p><input class="form-control" type="text" name="password" value="" placeholder="Prezime"></p>
                        <p><input class="form-control" type="text" name="password" value="" placeholder="Korisničko ime"></p>
                        <p><input class="form-control" type="email" name="password" value="" placeholder="Vaša e-mail adresa"></p>
                        <p><input class="form-control" type="password" name="password" value="" placeholder="Lozinka"></p>
                        <p><input class="form-control" type="password" name="password" value="" placeholder="Ponovite lozinku"></p>

                        <button class="btn btn-success">Registracija</button>

                    </form>
                </div>
            </div>

            <div class="row">

                <div class="login" style="float:initial">

                    <div class="col-sm-3">
                        <a href="login">Prijava  </a>
                    </div>

                    <div class="col-sm-6">
                        <a href="lozinka">Zaboravio lozinku  </a>
                    </div>

                    <div class="col-sm-3">
                        <a style="text-decoration: underline" href="#">Registracija  </a>
                    </div>
                </div>
            </div>




        </div>
        <div class="col-sm-4"></div>
    </div>
</body>

</html>

