
@{
    Layout = null;
}
@using System.Web.Mvc;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verifikacija</title>
</head>
<body>

    @ViewBag.aktivni
    <div>
    </div>
</body>
</html>
