
@{
    ViewBag.Title = "dodajSmjer";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using Strucna.Models
@model Studij
<h2>Dodaj Smjer</h2>

<body class="padTop53 ">
<!--PAGE CONTENT -->
<div id="content">
    <div class="inner">
        <div class="row">
 
        </div>
        <hr />
        <div class="col-lg-6">    
        <div class="table-responsive">

            @using (Html.BeginForm())
            {
                @Html.LabelFor(model => model.naziv, new { @class = "control-label" })
                @Html.EditorFor(model => model.naziv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.naziv, "", new { @class = "text-danger" })
                <br />
                <button class="btn btn-primary">Dodaj</button>

            }
            
            <br/>

            @Html.ActionLink("Odustani", "popis_studijskih_programa", new { @class = "btn btn-primary" })
            

        </div>
    </div>
</div>
</div>
</body>